<% content_for :title, 'Bible Points - Add/Edit Point' %>

<h1>Add/Edit Point</h1>

<!-- TODO: Move this to a common application.html.erb -->
<% flash.each do |key, value| %>
    <div class="m-3 alert alert-<%= key %>">
      <p>
        <%= value %>
      </p>
    </div>
<% end %>

<p>
  Book: <%= @point.book_id %> - <%= @book_name %>
</p>

<p>
  Chapter: <%= @point.chapter %>
</p>



<%= form_for @point, url: {action: 'update'}, html: { class: 'form-inline' }, method: 'put' do |f| %>
    <%= f.text_area :text, size: '60x12', class: 'point_text' %>
    <%= f.submit 'Save' %>
<% end %>



