<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : 'Bible Points' %>
  </title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= favicon_link_tag 'blue_share.ico' %>
</head>

<body>
<%= render partial: 'layouts/partials/top_nav' %>

<div class="p-3">
  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>
</body>
</html>
